{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}


{% block content %}

<div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
    <div class="container">
        <h3 class="text-center mb-4">Выбранные товары</h3>
    </div>
    <!-- Детали заказа -->
    <div class="container">
        {% include 'carts/cart_for_include.html'%}
        <h3 class="text-center">Детали заказа</h3>
        <div class="card mb-3">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.first_name.label }}
                                {{ order_form.first_name() }}
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.last_name.label }}
                                {{ order_form.last_name() }}
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.phone_number.label }}
                                {{ order_form.phone_number() }}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">

                            <div>
                                {{ order_form.delivery_method.label }}

                                {% for subfield in order_form.delivery_method %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %}

                            </div>
                            {% if order_form.delivery_method.data == "delivery" %}
                            <div class="mb-3" id="deliveryAddressField">
                                {{ order_form.address }}
                            </div>
                            {% endif %}
                            <div class="col-md-12 mb-3">

                                {{ order_form.pay_method.label }}
                                    {% for subfield in order_form.pay_method %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                    {% endfor %}
                            </div>
                        </div>
                        <form action="">
                            {{ order_form.create_order() }}
                        </form>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}