{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}


{% block content %}

{% if order_form.errors %}
    <div class="alert alert-danger">
        Пожалуйста, исправьте ошибки ниже.
    </div>
{% endif %}

<div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
    <!-- Детали заказа -->
    <div class="container">

        <h3 class="text-center">Детали заказа</h3>
        {% if cart_items %}

        {% include 'carts/cart_for_include.html'%}
        <div class="card mb-3">
            <div class="card-body">
                <form action="{{ url_for('order.create_order') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.first_name.label }}
                                {{ order_form.first_name() }}

                                {% for error in order_form.first_name.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.last_name.label }}
                                {{ order_form.last_name() }}

                                {% for error in order_form.last_name.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-md-6 mb-3">
                                {{ order_form.phone_number.label }}
                                {{ order_form.phone_number() }}

                                {% for error in order_form.phone_number.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">

                            <div>
                                {{ order_form.delivery_method.label }}

                                {% for subfield in order_form.delivery_method %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %}

                            </div>
                            {% if order_form.delivery_method.data == "delivery" %}
                            <div class="mb-3" id="deliveryAddressField">
                                {{ order_form.address }}
                            </div>
                            {% endif %}
                            <div class="col-md-12 mb-3">

                                {{ order_form.pay_method.label }}
                                {% for subfield in order_form.pay_method %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Сделать заказ</button>
                    </div>
                </form>*Поля обязательные для заполнения
            </div>
        </div>

    </div>
    {% else %}
    <div class="alert alert-info text-center">
        Ваша корзина пуста
    </div>
    <div class="text-center">
        <a href="{{ url_for('shop.shop') }}" class="btn btn-primary">
            Вернуться к покупкам
        </a>
    </div>
    {% endif %}

</div>


{% endblock %}