{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}


{% block content %}

<div class="card mb-3 text-bg-light shadow-lg">
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <h3 class="text-center mb-4">Корзина</h3>
        <div class="container" id="cart-items-container">
        {% if cart_items %}
            {% include 'carts/cart_for_include.html'%}


            <div class="card mb-3 shadow-lg">
                <div class="card-footer">
                    <p class="float-left">Итого {{ total }} товар(а) на сумму</p>
                    <h4 class="float-left"><strong>{{ amount }} P</strong></h4>
                </div>
            </div>
            <!-- Закончилась разметка корзины -->
        </div>
        <a href="{{ url_for('order.create_order')}}" type="submit" class="btn btn-primary">
            Оформить заказ
        </a>
    </div>
</div>
{% else %}
<div class="alert alert-info text-center">
    Ваша корзина пуста
</div>
<div class="text-center">
    <a href="{{ url_for('shop.shop') }}" class="btn btn-primary">
        Вернуться к покупкам
    </a>
</div>
{% endif %}

{% endblock %}
