<div class="card mb-3 text-bg-light shadow-lg">
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <div class="container" id="cart-items-container">

            {% for item in cart_items %}
            <div class="card mb-3 text-bg-light shadow-lg">
                <div class="card-header">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row text-center">
                            <div class="col p-0">
                                <div class="input-group">

                                    <form action="{{ url_for('cart.remove_from_cart', product_id=item.product.id) }}"
                                          method="POST" class="input-group-btn">
                                        {{ form.submit_decrease }}
                                    </form>

                                    <input type="row text-center" class="form-control number" value={{ item.quantity }}
                                           readonly>

                                    <form action="{{  url_for('cart.add_to_cart', product_id=item.product.id)  }}"
                                          method="POST" class="input-group-btn">
                                        {{ form.submit_increase }}
                                    </form>

                                </div>
                            </div>
                            <div class="col p-0">
                                <p>x {{ item.product.price }} = </p>
                            </div>
                            <div class="col p-0">{{ item.product.price * item.quantity }}</div>
                            <div class="col p-0">
                                <form action="{{ url_for('cart.delete_product', product_id=item.product.id) }}"
                                      method="POST">
                                    <button type="submit" class="btn btn-link p-0 m-0">
                                        <img class="mx-1" src="{{ url_for('static', filename='img/del_cart.png') }}"
                                             alt="Catalog Icon" width="20" height="20">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
            {% endfor %}
            <div class="card mb-3 shadow-lg">
                <div class="card-footer">
                    <p class="float-left">Итого {{ total }} товар(а) на сумму</p>
                    <h4 class="float-left"><strong>{{ amount }} P</strong></h4>
                </div>
            </div>
            <!-- Закончилась разметка корзины -->

        </div>
    </div>
</div>