<header class="fixed-top bg-white shadow-sm">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img class="header__img" height="48" width="48"
                         src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{{ url_for('shop.shop') }}" class="nav-link px-2">Магазин</a></li>
                <li><a href="{{ url_for('main.contacts') }}" class="nav-link px-2">Контакты</a></li>
                <li><a href="{{ url_for('main.questions') }}" class="nav-link px-2">FAQs</a></li>
                <li><a href="{{ url_for('main.about') }}" class="nav-link px-2">О нас</a></li>
            </ul>
            <div class="col-md-3 text-end">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin  %}
                        <a class="btn btn-primary" href="">Админка</a>
                    {% endif %}

                    <a class="btn btn-outline-primary" href="{{ url_for('user.logout') }}" role="button">Выйти</a>
                    <a class="btn btn-outline-primary" href="{{ url_for('cart.cart') }}" role="button">Корзина</a>

                {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('user.login') }}" role="button">Войти</a>
                    <a class="btn btn-primary" href="{{ url_for('user.register') }}">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>